@import "../../styles/variables";
@import "../../styles/mixins";

.projects-categories {
  padding: 0.5em 1.25em;
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  border-top: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;
  box-shadow: $box-shadow;
  cursor: pointer;

  @include tablets {
    justify-content: space-around;
  }

  @include desktops {
    width: 50%;
    margin: auto;
  }

  &__heading {
    &:hover {
      color: $secondary-color;
    }
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2em 1em;

  @include tablets {
    grid-template-columns: 1fr 1fr;
  }

  @include desktops {
    grid-template-columns: 1fr 1fr 1fr;
  }
}