@import "../../styles/variables";
@import "../../styles/mixins";

.projects-categories {
  font-size: 1rem;
  margin-top: 0.5em;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  background-color: $secondary-color;
  color: $white-color;
  box-shadow: $box-shadow;
  cursor: pointer;

  @include tablets {
    justify-content: space-around;
  }

  @include desktops {
    width: 50%;
    margin: 2em auto 1em auto;
    font-size: 1.5rem;
  }

  &__heading {
    display: inline-flex;
    align-items: center;
    padding: 0.25em 0;
    // transition: $main-transition;

    &.active-tab {
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
    }

    &:hover {
      color: $primary-color;
    }

    & .icon {
      margin-right: 0.25em;
      font-size: 1.25rem;
      pointer-events: none;

      @include tablets {
        margin-right: 0.35em;
        font-size: 1.5rem;
      }

      @include desktops {
        margin-right: 0.35em;
        font-size: 1.5rem;
      }
    }
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2em 1em;

  @include tablets {
    grid-template-columns: 1fr 1fr;
  }

  @include desktops {
    grid-template-columns: 1fr 1fr;
  }
}