$primary-color: #ffd948;
$white-color: #fffade;
$black-color: #212121;
$headings-font: 'Archivo Black', sans-serif;
$body-font: 'Roboto', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    font-family: $body-font;
    height: 100%;
    line-height: 1.6;
    // display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headings-font;
}

ul {
    list-style-type: none;
}