@import "../styles/variables";
@import "../styles/mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color;
  color: $black-color;
  font-family: $body-font;
  font-size: 1.125rem;
  height: 100%;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: $secondary-color;
  color: $white-color;
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.5em 0.8em;
  letter-spacing: 1px;
  box-shadow: $box-shadow;

  @include desktops {
    font-size: 1rem;
    padding: 1em 1.77em;
  }
}

.btn--blue {
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  color: $white-color;

  &:hover {
    background-color: lighten($secondary-color, 5%);
  }
}