@import "../../styles/variables";
@import "../../styles/mixins";

.btn {
  display: inline-block;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.5em 0.8em;
  letter-spacing: 1px;
  box-shadow: $box-shadow;

  @include desktops {
    font-size: 1rem;
    padding: 1em 1.77em;
  }

  &--blue {
    border: 1px solid $secondary-color;
    background-color: $secondary-color;
    color: $white-color;
    transition: $hover-transition;

    &:hover {
      background-color: lighten($secondary-color, 5%);
    }
  }
}
