@import "../../styles/variables";
@import "../../styles/mixins";

.contact {
  margin-top: 2em;
  min-height: calc(100vh - 102px - 2em);
  background-color: $black-color;
  color: $white-color;
  display: grid;
  place-content: center;
  text-align: center;
  position: relative;

  @include desktops {
    min-height: calc(100vh - 80px - 2em);
    text-align: left;
    display: block;
  }

  &__container {
    @include desktops {
      min-width: 800px;
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__heading,
  &__form {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;

    @include desktops {
      max-width: 100%;
    }
  }

  & p {
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & label {
    font-weight: 600;
    padding: 0.75em 0;
  }

  & input,
  & textarea {
    width: 100%;
    padding: 0.75em;
    margin: 0.25em 0 0.5em 0;
    outline: 0;
    background-color: transparent;
    color: $white-color;
    border: none;
    border-bottom: 0.25em solid $secondary-color;
    transition: border-color 0.3s ease-in-out;

    @include desktops {
      width: 85%;
    }

    &:focus,
    &:active {
      border-bottom-color: $primary-color;
    }

    &::placeholder {
      letter-spacing: 1px;
    }
  }

  & textarea {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}