@import "../../styles/variables";

header {
  padding: 1em;
  text-align: center;
  width: 100%;
}

.logo {
  font-family: $headings-font;
  color: $black-color;

  &:hover {
    color: $white-color;
  }
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-top: 1em;

  &-item-link {
    color: $black-color;

    &:hover {
      color: $secondary-color;
      padding-bottom: 0.25em;
      border-bottom: 1px solid $white-color;
    }
  }
}