@import "../../styles/variables";
@import "../../styles/mixins";

header {
  padding: 1em;
  text-align: center;
  width: 100%;

  @include desktops {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4em;
    padding-right: 2em;
  }
}

.logo {
  font-family: $headings-font;
  color: $black-color;
  @include gradient-text(to left, $secondary-color, lighten($secondary-color, 15%));
  position: relative;
  transition: all 0.5s;

  @include desktops {
    font-size: 1.75rem;
  }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   background-color: $secondary-color;
  //   height: 0.25rem;
  //   width: 100%;
  // }
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 1em;

  &-item-link {
    color: $secondary-color;

    &:hover {
      color: lighten($secondary-color, 10%);
      padding-bottom: 0.2em;
      border-bottom: 0.15em solid lighten($secondary-color, 10%);
    }

    @include desktops {
      margin-right: 1em;
      font-size: 1.5rem;

      &[href="/contact"] {
        margin-right: 0;
      }
    }
  }

  @include desktops {
    margin-top: 0;
    font-weight: bold;
  }
}